body, html {
  height: 99%;
  margin: 0 auto;
  width: 95%;

}

.container {
  background: lightgray;
  border: 1px solid gray;
  width: 100%;
  margin: 10px;
  display: flex;
}

#two-column .container {
  height: 200px;
}
#two-column .middle {
	display: flex;
	height: 400px;

}
#two-column .container-2 {
	height: 100%;


}
#two-column .container-3 {
	width: 25%;
	height: 100%;
	
}
footer  {

}

#three-column .container {
  height: 200px;
}