body {
	width: 720px;
	padding: 54px;
    font-weight: normal;
    line-height: 1.5;
} 
h1 {
	color: #dd0000;
	font-size: 55px;
	font-family: 'Lato';
	font-weight: lighter;
	margin-bottom: 5px;
    }
nav {
	font-style: underline;
	font-family: 'Lato', 300;
	display: inline-block;
}
h2 {
	font-size: 32px;
	font-family: 'Lato';
	color: black;
	font-weight: lighter;
	padding-top: 0px;
	margin: 5px;

}
h3 {
	font-family: 'Lato';
	color: #cccccc;
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 5px;
}
a  {
	margin-right: 15px;
	color: #dddddd;
	font-size: 22px;
	display: inline-block;
	font-family: 'lato';
}
.cont {
	text-align: right;
	color: #dd0000;
	font-weight: bold;
}
h4 {
	color: black;
	font-family: 'lato';
	font-size: 32px;
	font-weight: lighter;
	margin: 0;
}

img {
	width: 700px;
}
article {
	max-width: 700px;
	font-weight: lighter;
}
footer a {
	color: #dd0000;
	font-size: 14px;
}
#copyright {
	color:  #bbbbbb;
}
