body, html {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  background: url(../img/roadside_chicken.jpg) center center no-repeat;
}

h1 {
  padding-right: 25px;
  margin: 0, 55px;
  font-size: 45px;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

a  {
  text-decoration: none;
  color: black;
  margin: 
}

main {
  display: flex;
  height: 75%;


}
.inputs {
  margin-left: 25px;
  justify-content: center;

}
.menu {
  justify-content: flex-end;
  flex-grow: 2;
  align-items: flex-end;
  margin-right: 25px;
  max-width: 600px;
}

ul {
  background-color: none;
  text-align: right;
  list-style-type: none;
  font-size: 33px;
  color: white;
}
#person-b {
  display: none;
}
select {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  font-size: 14px;
  color: #474747;
  text-align: center;
}
