	header {
		text-align: center;
		background-image: url("Peruvian_Vista_BW.jpg");
		background-size: cover;
		min-height: 600px;
		
	}
	 a {
      	color: black;
      	font-size: 20px;
      	text-decoration: none;

      }
	h1 {
		font-family: 'Permanent Marker', cursive;
		letter-spacing: 6px;
		color: rgba(20,5,10,.5);
		font-size: 70px;
		padding: 110px 0px 410px 0px;
		
	}
	img  {

        border: 7px white;
        border-radius:  5px;
        max-width: 100px;
        margin-left: 50px;
        padding: 0px 0px 0px 50px;
       
     }
      ul  {
      	  font-family: 'Comfortaa', cursive;
          
          padding:  0px 40px 0px 40px;
          background: rgba(200,200,255,.5);
          text-align: center;

          
	}
	li  {
          padding: 0px 50px 0px 50px;
          display: inline-block;

      }
      article {
      	margin: 0px 100px 0px 100px;



      }
     .countries {
     	display: block;
     	font-size: 20px;
     	margin-left: 50px;
     	margin-right: 400px;
     	text-align: left;
     }